<!-- view page for home -->

<div class="homepage">
    <div class="searchForm">
        <form action="/search" method="GET">
            <label>
              <input type="text" name="artist" placeholder="Enter artist name">
            </label>    
            <button type="submit">Search for an Artist</button>
        </form>
    </div>    
</div>
